header {
    font-family: 'Times New Roman', Times, serif;
    margin-top: 2%;
    padding-left: 3%;
    background-color: beige;
}

canvas {
    height: 800px;
    width: 75%;
    display: block;
    margin: 0;
    padding: 0;
}

body {
    text-align: right;
    margin: 7%;
}